/* http://www.bdsys.net/ Design by Black Dog Systems
 * By: Andrew Lass 02/13/2013 
 *  
 Below is the CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
} 

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Above is the CSS reset (from meyer) http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */

/* Below are custom global conditions */

body {
	/* background-color:#808080; */
	background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSNNJFBqsnoyE2fD5P4uTWoD-P5Jz0LN970P1HTcJ5qGpGqKVnRsw);
	background-size: 200em;
	background-repeat:no-repeat;
} 

a {
	text-decoration:none;
}

p {
	color: #000000;
}

li {
	height: auto;
	width: auto;
}

ul {
	height: auto;
	width: auto;
}

.unFinished {
	border: .2em solid black;
}

.backgroundColorText {
	color:#838BB1;
}

.blackText {
	color:#000000;
}

.blackHighlight {
	background:#000000;
}

.whiteHighlight {
	background:#FFFFFF;
}

.italicBoldObject {
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif, monospace;
}

.italicObject {
	font-style: italic;
	font-family:"Agency FB", sans-serif, monospace;
	font-size:large;
	padding: 0 .2em 0 .2em;
}

.largeLetter {
	font-size:larger;
	font-weight:bold;
	font-family:"Arial Rounded MT Bold", sans-serif, monospace;
}

.smallFont {
	font-size:smaller;
}

.indentText {
	text-indent: 2em;
}

/*Above are custom global conditions */

/* Below is the header in every page, this includes the top screen H1 and nav bar */

header > h1 {
	font-family:Vivaldi, Verdana, sans-serif;
	font-weight:900;
	font-size:5em;
	text-align:center;
}

#bdsysLogo {
	border: .2em solid black;
	display: block;
	margin: 3.5% auto 2% auto;
}

header > h6 {
	text-align: center;
	margin: .5% 0 .5% 0;
	border-bottom: .2em solid black;
}
/* Above header is in every page  */

/* Below is the unique main body */

.navTable {
	display: inline-block;
	border-right: .2em solid black;
	height: auto;
	width: auto;
}

 h3 {
	font-style:italic;
	font-size: x-large;
	font-weight:800;
	text-decoration: underline;
}

.navTableRow {
	
} 

.mainLi {
	margin-bottom: 2%;
}

.secondaryLi {
	margin: 5% 0 5% 3%;	
}

.smallRightMargin {
	margin-right: 2em;
}

#navLeft {
	margin: 1% auto 1% 2%;
}

#nav2, #nav3, #nav4 {
	margin: 1% auto 1% 10%;
}
 
#spaceHolder {
 	height: 58em;
 	width: 58em;
 }
 

/* Above is the main body of this page */

/* Below FOOTER is in every page | Above body is unique to this page */

footer {
	border-top: .2em solid black; 
	background-color:#808080;
}

#emailIcon {
	height:2.5em;
	width:2.5em;
	border-radius:20%;
	border: .1em solid white;
	margin: 0 0 4% 0;
} 

#facebookIcon  {
	height:2.5em;
	width:2.5em;
	border-radius:20%;
	border: .1em solid white;
	margin: 0 0 4% 0;
}

#twitterIcon  {
	height:2.5em;
	width:2.5em;
	border-radius:20%;
	border: .1em solid white;
	margin: 0 0 4% 0;
}